* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.01);
}

header {
    background-color: mediumaquamarine;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    color: #fff;
}

/* 投稿一覧画面 */

.mypage-link {
    display: inline-block;
    margin-top: 30px;
    margin-left: 30px;
}

.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 20rem;
    margin: 30px;
}

.card-img {
    width: 100%;
}

.card-img img {
    width: 100%;
    object-fit: cover;
}

.card-body {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 20px;
    line-height: 2;
}

.plus {
    font-size: 30px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    text-decoration: none;
    background-color: mediumaquamarine;
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    padding-bottom: 5px;
    cursor: pointer;
}

.modal-wrapper {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: display 0.5s ease;
    display: none;
}

.is-show {
    display: block;
}

.modal {
    background-color: #f4f4f4;
    width: 50%;
    margin: 5% auto 0 auto;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: 1s;
}

@keyframes modalopen {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal-title {
    background-color: mediumaquamarine;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close {
    cursor: pointer;
    font-size: 32px;
    color: #fff;
    padding-bottom: 5px;
}

.modal-body {
    padding: 30px;
}

.modal-body .form-group {
    margin-bottom: 20px;
}

.modal-body .form-group label {
    width: 15%;
    display: inline-block;
}

.modal-body .form-group input[type="text"],
.modal-body .form-group textarea {
    width: 60%;
}

.modal-body .form-group input {
    outline: none;
    border: none;
    padding: 15px 10px;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.1);
}

.modal-body .form-group input[type="text"] {
    width: 40%;
}

.modal-body .form-group textarea {
    vertical-align: top;
    outline: none;
    border: none;
    padding: 15px 10px;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.1);
}

.modal-body button {
    background-color: tomato;
    outline: none;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
    color: #fff;
    border-radius: 10px;
}

/* マイページ */
.text-center {
    margin-top: 30px;
    text-align: center;
}

.past-posts-title {
    margin-top: 40px;
    margin-left: 70px;
}

.post-btns {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    padding: 0 20px 20px 0;
}

.del-btn {
    background-color: tomato;
    outline: none;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.edit-btn {
    background-color: mediumaquamarine;
    outline: none;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
