* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.01);
}

header {
    background-color: mediumaquamarine;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    color: #fff;
}
